/* rubik-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/rubik-v26-latin-regular.eot'); /* IE9 Compat Modes */
  src: url('../fonts/rubik-v26-latin-regular.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */ url('../fonts/rubik-v26-latin-regular.woff2') format('woff2'),
    /* Super Modern Browsers */ url('../fonts/rubik-v26-latin-regular.woff')
      format('woff'),
    /* Modern Browsers */ url('../fonts/rubik-v26-latin-regular.ttf') format('truetype'),
    /* Safari, Android, iOS */ url('../fonts/rubik-v26-latin-regular.svg#Rubik')
      format('svg'); /* Legacy iOS */
}
/* rubik-500 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/rubik-v26-latin-500.eot'); /* IE9 Compat Modes */
  src: url('../fonts/rubik-v26-latin-500.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */ url('../fonts/rubik-v26-latin-500.woff2') format('woff2'),
    /* Super Modern Browsers */ url('../fonts/rubik-v26-latin-500.woff') format('woff'),
    /* Modern Browsers */ url('../fonts/rubik-v26-latin-500.ttf') format('truetype'),
    /* Safari, Android, iOS */ url('../fonts/rubik-v26-latin-500.svg#Rubik') format('svg'); /* Legacy iOS */
}
/* rubik-600 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/rubik-v26-latin-600.eot'); /* IE9 Compat Modes */
  src: url('../fonts/rubik-v26-latin-600.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */ url('../fonts/rubik-v26-latin-600.woff2') format('woff2'),
    /* Super Modern Browsers */ url('../fonts/rubik-v26-latin-600.woff') format('woff'),
    /* Modern Browsers */ url('../fonts/rubik-v26-latin-600.ttf') format('truetype'),
    /* Safari, Android, iOS */ url('../fonts/rubik-v26-latin-600.svg#Rubik') format('svg'); /* Legacy iOS */
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: 'Rubik', sans-serif;
}

.container {
  width: calc(85%);
  padding: 0 20px;
  margin: 0 auto;
}
